/* Inserta tu codigo aqui */
*{
    outline: 1px solid rgba(255,0,0,0.3);
}
/* HEADER------------------------------------------------- */

.menu .row h1 a {
    text-decoration: none;
    
}

.menu {
    
    background-color:#FFFFFF;
    color: #333;
    text-align: center;
    
}


.list-menu a {

    list-style: none;
    text-decoration: none;
       
}

.list-menu li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 20px;
}

/* CUERPO------------------------------------------------- */

.danza{
    background-color: gainsboro;
    padding: 50px;
    
}

.espacios{
    margin-bottom: 30px;
}

.fondouno{
    background-image: url(../img/dance_12.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}

.fondodos{
    background-image: url(../img/breakdance.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}

.fondotres{
    background-image: url(../img/lirical-jazz.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}
.fondocuatro{
    background-image: url(../img/arabe.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}
.fondocinco{
    background-image: url(../img/little.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}
.fondoseis{
    background-image: url(../img/yoga.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: table;
}


.textodos{
    display: table-cell;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    padding: 25px;
    text-align: center;
     color: antiquewhite;
    }

.centro{
    background-color: black;
    padding: 40px;
    backface-visibility: hidden;
    opacity: 0.7;
}

/* CONTACTO------------------------------------------------- */

.contactenos{
    background-image: url(../img/shoes_1.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 500px;
    padding: 50px;
}


.formulario{
    padding: 30px;
}

button {   

     font-size:12px;
     color:white;
     background:#1E2037;
     border:0px;
}

    .contactenos input{
    width: 100%;
    padding: 8px 0px 8px 30px;
    margin: 8px 0px;
    
}


.contactenos i{
    color: black;
    position: relative;
   
}

.contactenos textarea{
   padding: 8px 0px 8px 30px;}

.padre span{
    position: absolute;
    top: 165px;
    left: 30px;
        
}

.abuelo span{
    position: absolute;
    top: 120px;
    left: 30px;
}

.hijo span{
    position: absolute;
    top: 80px;
    left: 30px;
}

/* FINAL------------------------------------------------ */

footer{
    background-color: #1E2037;
    color: gainsboro;
    padding: 25px;
}