/* Inserta tu codigo aqui */





/* FONDO------------------------------------------------ */

.fondo{
    background-image: url(../img/dance_1.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
}

.fondo .afilado{
    float: left;
    width: 200px;
    height: 200px;
    color: gainsboro;
    margin: 80px;
    }

.studio{
    font-size:80px;
    width: 100%;
}





/* FRASES------------------------------------------------ */


.frases {
    text-align: center;
    font-size: 25px;
    padding: 45px;
    background-image: url(../img/textura_2.jpg);
    font-family: 'Montserrat', sans-serif;
    
}

.frases img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
   
}

.boton2{
    font-size:14px;
     color:white;
     background:#1E2037;
     border-radius: 5px;
     width:500px;
     height:50px;
    font-family: 'Montserrat', sans-serif;
}

.frases button a {
    text-decoration: none;
    color: white;
}

/* Profes------------------------------------------------ */

.profe{
    height: 400px;
}




.box{
    padding: 0;
    border: 1px solid #1E2037;
}

.uno{
    background-image: url(../img/instructor_4.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    
   
}

.dos{
    background-image: url(../img/profesor_9.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
 }

.prof{
    
    position: relative;
    top: -100px;
    width: 400px;
    height: 100px;
    margin-left: 450px;
    font-size: 19px;
}

.profe button a{
    text-decoration: none;
    color: white;
}



/* Profes------------------------------------------------ */

.fonddo {
    background-color: #1E2037;
    padding: 45px;
    color: gainsboro;
}


    


