/*---------------------------------inicio---de----mi---header-----*/
header {
    color:#224E88;
    text-align: center;
}
.lista-menu li{
    font-size:18px;
    margin: 15px;
    margin-right: 100px;
    list-style: none;
    display: inline-block;

}
.lista-menu a{
    text-decoration: none;
    
}

/*--------------mi primer section ---*/


.primer-section{
    background-image: url(../img/dance_7.jpg);
    width: 100%;
    height: 460px;
    background-position:left;
    background-size: 100%;
}
.mi-texto{
    position: relative;
    left:40%;
    top:115px;
    opacity: 0.5;
    background:black;
    color: white;
    width: 430px;
}
.primer-section h2{
   padding: 10px
}
.primer-section p{
    font-size: 18px;
    padding: 12px
}

/*-------mi  section ----dos---*/
.segundo-section{
     padding: 65px;
    background-image: url(../img/cubes.png);
}

.col-md-4{
    text-align: center;
    color: #B1B2B1;
}
.segundo-section h3{
    font-size:22px;
    font-family:Consolas;
}
.segundo-section p{
    font-size: 16px;
}
.segundo-section hr{
   width: 250px ;
    border: 1px solid #B1B2B1;
}
/*----------------------------------------------mi---tercer-----SECTION----*/

.imagen {
    overflow: hidden;
    height: 180px;
    width: 100%;
}
.tercer-section img{
    width: 100%;
    height: 230px;
}
.tercer-section{
    padding: 30px;
    text-align: center;
}
.tercer-section h2{
    margin: 25px;
}
.tercer-section h4{
 font-family:Consolas;
    font-size: 20px;
}
.tercer-section p{
    font-size: 16px;
}
/*---------------------------mi---cuarta section----*/
.container-cuarta{
    text-align: center;
    padding:100px;
 background-image: url(../img/cubes.png);
    font-size: 40px;
    
}
/*-----------------------------------mi-----quinta.......*/
.contactenos{
    background-image: url(../img/shoes_1.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 500px;
    padding: 50px;
}


.formulario{
    padding: 30px;
}

button {   

     font-size:12px;
     color:white;
     background:#1E2037;
     border:0px;
}

    .contactenos input{
    width: 100%;
    padding: 8px 0px 8px 30px;
    margin: 8px 0px;
    
}


.contactenos i{
    color: black;
    position: relative;
   
}

.contactenos textarea{
   padding: 8px 0px 8px 30px;}

.padre span{
    position: absolute;
    top: 165px;
    left: 30px;
        
}

.abuelo span{
    position: absolute;
    top: 120px;
    left: 30px;
}

.hijo span{
    position: absolute;
    top: 80px;
    left: 30px;
}

/* FINAL------------------------------------------------ */

footer{
    background-color: #1E2037;
    color: gainsboro;
    padding: 25px;
}







